@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
  zoom: 95%;
  user-select: none;
}

html,
body {
  box-sizing: content-box;
  min-height: 100vh;
}

h1 {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  width: 500px;
  margin: 15px auto;
}

h2 {
  text-align: center;
  width: 500px;
  margin: 15px auto;
}

p {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  gap: 10px;
}

form input {
  text-align: center;
  background-color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  display: block;
  background-color: yellow;
  border: black 1px solid;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 15px auto;
  width: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: white;
}

button:active {
  background-color: red;
}

.clear {
  color: blueviolet;
  background-color: white;
}

div.button-list {
  display: flex;
  width: 650px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.button-list .eraser {
  background-color: rgb(53, 224, 247);
}

.button-list .random {
  background-color: rgb(255, 34, 119);
}

.button-list .darken {
  color: white;
  background-color: rgb(11, 12, 12);
}

.button-list button:hover {
  background-color: white;
}

.button-list button:active {
  background-color: red;
}

#color-picker {
  margin-left: 10px;
}

div.main-container {
  width: 960px;
  height: 700px;
  margin: 0px auto;
  display: flex;
}

div.parent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.square {
  border: 1px solid black;
  height: 100%;
}

div.square.hover {
  background-color: black;
}
